body {
    display: flex;
    justify-content: center; 
    align-items: center;  
    background-color:antiquewhite;
    flex-direction:column;
    text-align: center;
  }
  
.imagen {
    width: 500px; 
    height: auto; 
    margin-top:10px;
}
  
.boton-github {
    margin-top:10px;
    padding: 10px;
    color: black; 
    background-color:aqua;
    border: none;  
    cursor: pointer;  
  }